* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
}

.btn2{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
}

.section-heading{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.section-body{
    font-size: 16px;
    color: #627382;
}

header{
    background-color: #ffff;
}

nav{
    width: 100%;
    max-width: 1626px ;
    height: 92px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}

#banner{
    border: 1px solid black;
    width: 100%;
    max-width: 1626px;
    align-items: center;
    padding: 154.5px 341px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    background:url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
}

#banner h1{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    text-align: center;
}

#banner p{
    margin-top:16px ;
    margin-bottom: 32px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 24px;

}

.bt{
    background-color: #ffff;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

#second{
    padding-top: 50px;
    background-color: white;
} 

#second .second-container{
    width: 84%;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    padding: 0px 120px;
}

#second .second-container .container-points{
    display: flex;
    justify-content: center;
    gap: 24px;
}

#second .second-container .container-points .point-card{
    margin-top: 44px;
    max-width:322px;
    max-height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0.06);
    padding: 69px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#second .second-container .container-points .point-card .image-circle
{
    background-color: #F95555;
    padding: 14px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin:69.5px 131px 16px 131px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second .second-container .container-points .point-card .image-circle img{
    height: 32px;
    width: 32px;
}

#second .second-container .container-points .point-card h4{
    max-width: 274px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}

#solution{
    display: flex;
    padding: 120px;
    gap: 60px;
}

#solution .know img{
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

#solution .sol-text{
    margin-top: 101px;
    margin-bottom: 101px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#solution .sol-text .text-green{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    
}

#solution .sol-text h3{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

#solution .sol-text ul{
    margin-top: 40px;
    list-style: none;
    list-style-image: url(../assets/CheckCircle.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    }