* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
    gap: 10px;
}

.btn2{
    margin-left: 16px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
}

.section-heading{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.section-body{
    font-size: 16px;
    color: #627382;
}

header{
    background-color: #ffff;
}

nav{
    width: 100%;
    max-width: 1626px ;
    height: 92px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}

nav .menu a{
    text-decoration: none;
    color: inherit;
}
#banner{
    width: 100%;
    max-width: 1626px;
    align-items: center;
    padding: 154.5px 341px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    background:url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
}

#banner h1{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    text-align: center;
}

#banner p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 24px;

}


.bt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    cursor: pointer;
    gap: 6px;
}

.bt .circle-0{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
}

.bt .circle-0 .circle-1, .circle-2, .circle-3{
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bt .circle-0 .circle-1{
    height: 16px;
    width: 16px;
    background-color: #30B868;
    opacity: 30%;

}



.bt .circle-0 .circle-2{
    height: 12px;
    width: 12px;
    background-color: #30B868;
    opacity: 50%;

}

.bt .circle-0 .circle-3{
    height: 8px;
    width: 8px;
    background-color: #30B868;

}


#second{
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: white;
} 


#second .second-container{
    width: 84%;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    padding: 0px 120px;
}

#second .second-container .container-points{
    display: flex;
    justify-content: center;
    gap: 24px;
}

#second .second-container .container-points .point-card{
    margin-top: 44px;
    max-width:322px;
    max-height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0.06);
    padding: 69px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#second .second-container .container-points .point-card .image-circle
{
    background-color: #F95555;
    padding: 14px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin:69.5px 131px 16px 131px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second .second-container .container-points .point-card .image-circle img{
    height: 32px;
    width: 32px;
}

#second .second-container .container-points .point-card h4{
    max-width: 274px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
}

#solution{
    display: flex;
    padding: 120px;
    gap: 60px;
}

#solution .know img{
    height: 600px;
    width: 600px;
    border-radius: 12px;
}

#solution .sol-text{
    margin-top: 101px;
    margin-bottom: 101px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#solution .sol-text .text-green{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    
}

#solution .sol-text h3{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

#solution .sol-text ul{
    margin-top: 40px;
    list-style: none;
    list-style-image: url(../assets/CheckCircle.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    }

#ready{
    background-color: #F7F6F2;
    border-radius: 12px;
    max-width: 1360px;
    text-align: center;
    align-items: center;
    padding: 80px;
    margin-left: 120px;
    margin-right: 120px;
}    

#ready h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}


#foot{
    width: 100%;
    max-width: 1626px;
    margin-top: 120px;
    background-color:rgb(3, 3, 44) ;
}

#foot .logo-social{
    padding: 120px;
    display: flex;
    justify-content: center;
    gap: 1004px;
}

#foot .logo-social .ls{
    display: flex;
    margin-top: 16px;
    list-style: none;
    gap: 16px;
}

#foot   .logo-social .ls li{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foot   .logo-social .ls img{
    width: 11.5px;
    height: 11.5px;

}

#foot .border{
    background-color: white;
    height: 0.5px;
    width: 1360px;
    color: #F7F6F2;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#foot .copy{
   
    padding: 30px ;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 16px;
}