* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
}

.btn2{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
}

header{
    background-color: #ffff;
}

nav{
    width: 100%;
    max-width: 1626px ;
    height: 92px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}

#banner{
    border: 1px solid black;
    width: 100%;
    max-width: 1626px;
    align-items: center;
    padding: 154.5px 341px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    background:url(../assets/hero-bg.png) ;
    background-repeat: no-repeat;
}

#banner h1{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    text-align: center;
}

#banner p{
    margin-top:16px ;
    margin-bottom: 32px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 24px;

}

.bt{
    background-color: #ffff;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}